<link rel='stylesheet' href="stylesheets\style.css" />

<footer class="footer">

    <p>&copy; COMP229-003-AHNAF-TAHMID-301221126 </p>

    <div>
        <a href="https://www.facebook.com/ahnaf.raz/"></a>
        <a href="https://www.instagram.com/a_tahmid/"></a>
        <a href="https://www.linkedin.com/in/ahnaf-tahmid-b1a27a214/"></a>
        <a href="https://github.com/ahnaf79"></a>
    </div>
</footer>
</body>

</html>