<link rel='stylesheet' href="stylesheets\style.css" />
<!-- footer section -->
<footer class="footer">
    <!-- copyright section -->
    <p>&copy; 2022 Ahnaf Tahmid</p>
    <!-- social media icons -->
    <div class="social-media-icons">
        <a href="https://www.facebook.com/ahnaf.raz/"></a>
        <a href="https://www.instagram.com/a_tahmid/"></a>
        <a href="https://www.linkedin.com/in/ahnaf-tahmid-b1a27a214/"></a>
        <a href="https://github.com/ahnaf79"></a>
    </div>
</footer>
</body>

</html>