<link rel='stylesheet' href="/public/stylesheets/style.css" />

<footer class="footer">

    <p>&copy; COMP229-003-AHNAF-TAHMID-301221126 </p>

    <div>
        <a href="https://www.facebook.com/ahnaf.raz/">Facebook</a>
        <a href="https://www.instagram.com/a_tahmid/">Instagram</a>
        <a href="https://www.linkedin.com/in/ahnaf-tahmid-b1a27a214/">Linkedin</a>
        <a href="https://github.com/ahnaf79">Github</a>
    </div>
</footer>
</body>

</html>