<link rel='stylesheet' href="/stylesheets/style.css" />

<header class="header">

    <div class="logo">
        <img src="/info/logo.png">
    </div>

    <nav class="navigation-bar">
        <ul>
            <li class="nav-link"><a href="/views/home.ejs">Home</a></li>
            <li class="nav-link"><a href="/views/about_us.ejs">About Me</a></li>
            <li class="nav-link"><a href="/views/projects.ejs">Projects</a></li>
            <li class="nav-link"><a href="/views/services.ejs">Services</a></li>
            <li class="nav-link"><a href="/views/contacts.ejs">Contact</a></li>
        </ul>
    </nav>
</header>