<link rel='stylesheet' href="stylesheets\style.css" />
<!-- header section -->
<header class="header">
    <!-- logo -->
    <div class="logo">
        <img src="info\logo.png" alt="website logo">
    </div>
    <!-- navigation bar -->
    <nav class="navigation-bar">
        <ul>
            <li class="nav-link"><a href="\index.ejs">Home</a></li>
            <li class="nav-link"><a href="\about_us">About Me</a></li>
            <li class="nav-link"><a href="\projects">Projects</a></li>
            <li class="nav-link"><a href="\services">Services</a></li>
            <li class="nav-link"><a href="\contacts">Contact</a></li>
        </ul>
    </nav>
</header>