<%- include('partials/header.ejs'); %>
    <div class="wrapper-container">
        <%- include('partials/navbar.ejs'); %>

            <section id="aboutme" class="about-Me">

                <div style="padding-top: 20px;">
                    <h2>About me</h2>
                    <img src="/images/me.jpg" />
                    <table>
                        <tr>
                            <td>Name: </td>
                            <td>Ahnaf Tahmid</td>
                        </tr>
                        <tr>
                            <td valign="top">About me: </td>
                            <td>
                                I am from Dhaka; Bangladesh and I have lived my entire life there and recently moved to Toronto. I am enrolled in Software Engineering Technician at Centennial College, and this is my 3rd semester. I like the program outline and am looking forward to
                                learn new methodologies and sharpen my coding skills.


                            </td>
                        </tr>
                        <tr>
                            <td>Resume: </td>
                            <td><a href="/images/Ahnaf_Tahmid.pdf">Click Here</a></td>
                        </tr>
                    </table>
                </div>
            </section>
    </div>
    <%- include('partials/footer.ejs'); %>