<%- include('partials/header.ejs'); %>
    <div class="wrapper-container">
        <%- include('partials/navbar.ejs'); %>
            <section id="contactme" class="contact-Me">

                <div style="padding-top: 20px;">
                    <h2>Contact Me</h2>
                    <table>
                        <tr>
                            <td>Contact number: </td>
                            <td>+1-647-763-2554 </td>
                        </tr>
                        <tr>
                            <td>Facebook Id</td>
                            <td> <a href="https://www.facebook.com/ahnaf.raz/">ahnaf.raz</a> </td>
                        </tr>
                        <tr>
                            <td>Linkedin</td>
                            <td> <a href="https://www.linkedin.com/in/ahnaf-tahmid-b1a27a214/">Ahnaf Tahmid</a> </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>
                                <a href="mailto:ahnaf.gdis2000@gmail.com">ahnaf.gdis2000@gmail.com</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </section>
    </div>
    <%- include('partials/footer.ejs'); %>