<%- include('./partials/header'); %>
    <div id="maincontent">
        <div class="wrapper-container">
            <%- include('./partials/navbar.ejs'); %>
                <section id="home" class="ho-Me">

                    <div style="padding-top: 100px;">
                        Hey! I'm glad you could make it.
                        <br> This website will tell you a little about me.
                        <br> Also, I think you might be a little confused after seeing the logo but that is the logo of the e-commerce website I'm building. It's still in progress but I'll let you take a quick peak : </br> <a href="/images/pic1.png">click here</a>
                        <br> You can <a href="/aboutme">click here</a> to know more about me.
                        <br><br><br>
                        <strong>Mission</strong> <br>I am an engineer. I apply analytic thinking to problems and find a pragmatic solution that isn't a quick fix, but a lasting value.
                    </div>
                </section>
        </div>
    </div>
    <%- include('./partials/footer.ejs'); %>