<html>

<head></head>

<body>
    <table>
        <tr><img src="logo.png" height="100px" /></tr>
        <tr>
            <td><a href="index.ejs">Home</a></td>
            <td><a href="about_us.ejs">About me</a></td>
            <td><a href="projects.ejs">Projects</a></td>
            <td><a href="services.ejs">Services</a></td>
            <td><a href="contacts.ejs">Contact Me</a></td>
        </tr>
    </table>
    <div style="padding-top: 20px;">
        <h2>Services</h2>
        <ol>
            <li>Website Development</li>
            <li>General Programming</li>
            <li>Database development</li>
            <li>OS management of Android devices</li>

        </ol>
    </div>
</body>

</html>