<%- include('partials/header.ejs'); %>
    <div class="wrapper-container">
        <%- include('partials/navbar.ejs'); %>
            <section id="myservice" class="my-service">
                <div style="padding-top: 20px;">
                    <h2>Services</h2>
                    <ol>
                        <li>Website Development</li>
                        <li>General Programming</li>
                        <li>Database development</li>
                        <li>OS management of Android devices</li>

                    </ol>
                </div>
                </body>
            </section>
    </div>
    <%- include('partials/footer.ejs'); %>