/* File name: style.css
Student name: Ahnaf Tahmid
StudentID: 301221126
Date: 1st July 2022 */

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}